<!-- <p>employee works!</p> -->

<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Employees</div>
  <div class="page__content shadow p-3 position-relative">
    <div>

      <div class="mat-elevation-z8">
        <!-- button to create new employee -->
        <div>
          <a mat-raised-button color="primary" (click)="Openpopup('')" style="margin: 2%">
            <mat-icon>add_circle_outline</mat-icon>Create New</a>
        </div>
        <!-- Filter section to search for employee by ID, name, skill,.. -->
        <mat-form-field>
          <mat-label>
            <mat-icon>search</mat-icon>
            Search by Employee ID, Name, Project, Manager</mat-label>
          <input matInput placeholder="Examplem: Jolly or 123456" (keyup)="Filterchange($event)">
        </mat-form-field>
        <!-- Creating the table to show all the employee data -->
        <table mat-table matSort [dataSource]="datasource">
          <!-- This displays the employee id  -->
          <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Employee ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- This displays the employee name  -->
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- This displays the employee project  -->
          <ng-container matColumnDef="project">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Project </th>
            <td mat-cell *matCellDef="let element"> {{element.project}} </td>
          </ng-container>
          <!-- This displays the employee task details  -->
          <ng-container matColumnDef="taskDetails">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Task Details </th>
            <td mat-cell *matCellDef="let element"> {{element.taskDetails}} </td>
          </ng-container>
          <!-- This displays the employee's given tasks  -->
          <ng-container matColumnDef="taskGiven">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Task Given </th>
            <td mat-cell *matCellDef="let element"> {{element.taskGiven}} </td>
          </ng-container>
          <!-- This displays the employee's completed task  -->
          <ng-container matColumnDef="taskCompleted">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Task Completed </th>
            <td mat-cell *matCellDef="let element"> {{element.taskCompleted}} </td>
          </ng-container>
          <!-- This displays the employee manager  -->
          <ng-container matColumnDef="manager">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
          </ng-container>
          <!-- This displays the employee role  -->
          <ng-container matColumnDef="role">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role ===''? 'Un Assigned':element.role}} </td>
          </ng-container>
          <!-- This displays the employee skills  -->
          <ng-container matColumnDef="skill">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Skills </th>
            <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
          </ng-container>
          <!-- This displays the employee status  -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.isactive ? 'Active':'In Active'}} </td>
          </ng-container>
          <!-- This displays the possible actions  -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <!-- buttons for editing and deleting employees -->
              <div>
                <a mat-raised-button (click)="EditEmployee(element)" color="primary"><mat-icon>edit</mat-icon></a> |
                <a mat-raised-button (click)="RemoveEmployee(element.id)" color="accent"><mat-icon>delete</mat-icon></a>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- This displays when filter doesn't have any data  -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter </td>
          </tr>

        </table>
        <!-- creating the pagination section -->
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

        </mat-paginator>

      </div>

    </div>
  </div>
</div>