<!-- <p>popup works!</p> -->


<form class="example-form" [formGroup]="employeeform" (ngSubmit)="SaveEmployee()">
    <mat-card>
    <mat-card-content>
    

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee Id</mat-label>
      <input matInput placeholder="ID" formControlName="id" >
    </mat-form-field>
 
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Project</mat-label>
        <input matInput placeholder="Project Name" formControlName="project" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task Details</mat-label>
        <textarea matInput placeholder="Task Details" formControlName="taskDetails"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task Given</mat-label>
        <input matInput type="number" placeholder="10" formControlName="taskGiven" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Task Completed</mat-label>
        <input matInput type="number" placeholder="5" formControlName="taskCompleted" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Manger</mat-label>
        <input matInput placeholder="Alex" formControlName="manager" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option value=''>Select Role</mat-option>
            <mat-option *ngFor="let item of rolelist" [value]="item.code">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Skills</mat-label>
      <textarea matInput placeholder="Java" formControlName="skill"></textarea>
    </mat-form-field>

    <section class="example-section">
      <br>
      <mat-checkbox  formControlName="isactive" class="example-margin">Is Active</mat-checkbox>
  </section>
    

   
</mat-card-content>
    <mat-card-footer>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary"><mat-icon>check</mat-icon></button> | <a (click)="closepopup()" mat-raised-button color="accent"><mat-icon>cancel</mat-icon></a>
    </div>
</mat-card-footer>
</mat-card>
  </form>