<!-- <p>dashboard works!</p> -->
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data">
        
      <div class="row">
        <div class=" col-lg-7">  
          <h2>Individual Progress</h2>
          <canvas id="barchart"  width="500" height="300"></canvas>
        </div>
       
        </div>
        <div class="row">
          <div class=" col-lg-5">  
            <h2>Individual Progress</h2>
            <canvas id="barchart2"  width="500" height="300"></canvas>
          </div>
          <div class=" col-lg-5">  
            <h2>Individual Progress</h2>
            <canvas id="barchart3" width="500" height="300"></canvas>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5">  
            <h2> Solutions</h2>
            <canvas id="piechart1" width="500" height="300"></canvas>
          </div>
          <div class=" col-lg-5">  
            <h2>  ABC Company</h2>
            <canvas id="piechart2" width="500" height="300"></canvas>
          </div>
        </div>


      </div>
    </div>
  </div>

