<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data ">
      <!-- Content only visible to nn-admin users -->
      <div *ngIf="this.employeedata.role!='admin'" class="user-data-box">
        <div class="button">
          <a mat-raised-button (click)="EditEmployee(employeedata)" color="primary"><mat-icon>edit</mat-icon>Edit</a>
        </div>
        <!-- Displaying the data for the logged in non-admin users using data interpolation -->
        <div class="row userbox">
          <div class="col-md-6">
            <span class="heads">Employee ID: </span>
            <span class="userdetails"> {{this.employeedata.id}}</span>
          </div>
          <div class="col-md-6">
            <span class="heads">Name: </span>
            <span class="userdetails"> {{this.employeedata.name}}</span>
          </div>
        </div>
        <div class="row userbox">
          <div class="col-md-6">
            <span class="heads">Project: </span>
            <span class="userdetails"> {{this.employeedata.project}}</span>
          </div>
          <div class="col-md-6">
            <span class="heads">Task Given: </span>
            <span class="userdetails"> {{this.employeedata.taskGiven}}</span>
          </div>
        </div>
        <div class="row userbox">
          <div class="col-md-6">
            <span class="heads">Task Completed: </span>
            <span class="userdetails"> {{this.employeedata.taskCompleted}}</span>
          </div>
          <div class="col-md-6">
            <span class="heads">Manager: </span>
            <span class="userdetails"> {{this.employeedata.manager}}</span>
          </div>
        </div>
        <div class="row userbox">
          <div class="col-md">
            <span class="heads">Skills: </span>
            <span class="userdetails"> {{this.employeedata.skill}}</span>
          </div>
        </div>
      </div>
      <!-- Static Dummy Data  -->
      <div class="info-table" style="background-image:url('../../assets/back6.jpg');background-attachment: fixed;">
        <div class="container table-layer">
          <div class="row heading-one">
            <h3>DEPTH OF EXPERTISE</h3>
            <p>____________________________________</p>
          </div>
          <div class="row heading-second">
            <h1>Services</h1>
          </div>
          <div class="table-holder">
            <div class="row first-row">
              <div class="col-md-3 side-left">
                <a href="#">
                  <p>Cloud Enablement</p>
                </a>
              </div>
              <div class="col-md-9 side-right">
                <a href="#">
                  <p>
                    Intelligent Cloud mobilizes your organization
                    with a next-generation cloud operating<br> model that
                    helps increase velocity and control.
                  </p>
                </a>
              </div>
            </div>
            <div class="row second-row">
              <div class="col-md-3 side-left">
                <a href="#">
                  <p>Application Services & Modernization</p>
                </a>
              </div>
              <div class="col-md-9 side-right">
                <a href="#">
                  <p>
                    Our application modernization services help you achieve agility for an increasingly
                    <br> digital world. Integrate a combination of accelerators, platforms and strategic
                    <br> partners to modernize core business applications.
                  </p>
                </a>
              </div>
            </div>
            <div class="row third-row">
              <div class="col-md-3 side-left">
                <a href="#">
                  <p>Data, Analytics & AI</p>
                </a>
              </div>
              <div class="col-md-9 side-right">
                <a href="#">
                  <p>
                    Integrate the enterprise and accelerate value through advanced data management
                    <br> strategies and solutions.
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>